data/processed/*.csv
.env
remote.txt
data/sessions.db-shm
data/sessions.db-wal
calc-remote-files/*
zip-versions/*
*.pyc
INSIGHTS.txt
problems.txt
Tasks-done.txt
Improvement.txt
*.pdf
changes.txt
New-endpoint.md
confirmation-checklist.md
TO-DO.md
.obsidian/*
new-architecture/*
pi-ina219-installation-command.txt
supabase/credentials.txt